* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: gray;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    margin: 1px;
    padding: 1px;
    width: 96px;
    height: 96px;
    border: 2px solid black;
}

.page_head {
    list-style: none;
    display: flex;
    gap: 20px;
}

.page_head li {
    display: inline;
    background: gray;
    border: 1px, solid, silver;
    padding: 0 20px;
    cursor: pointer;
}

.page_head li:hover {
    color: #fff;
    background: #333;
    border-radius: 5px;
}

.page_head li:not(:last-of-type){
    margin-right: 20px;
}

.welcome {
    text-align: center;
}

.main {
    width: 100vw; 
    height: 100vh; 
    background-color: #F9FAFB;
    display: flex;         
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
}
